{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for conference in conferences %}
        <p>
            <a href="{{ path('customer.conference.show', {id:conference.id}) }}">{{ conference }}</a>
        </p>
    {% endfor %}
{% endblock %}
